development:
  adapter: mysql2
  host:     localhost
  username: user
  password: passwd
  database: dbname_dev
  port:     3306
  encoding: utf8
  charset: utf8
  collation: utf8_general_ci
test:
  adapter: mysql2
  host:     localhost
  username: user
  password: passwd
  database: dbname_test
  port:     3306
  encoding: utf8
  charset: utf8
  collation: utf8_general_ci

production:
  adapter: mysql2
  host:     localhost
  username: user
  password: passwd
  database: dbname
  port:     3306
  encoding: utf8
  charset: utf8
  collation: utf8_general_ci
